
<section>
    
    <!--TODO make these icons user changeable from the admin panel-->
    <!--TODO Make all images coming with ngFor command let all of image images-->
    <h1>Yhteistyössä</h1>
    <div class="flexcontainer">
        <div class="partners">
            <img src="../../assets/partners/pore-logo.png" alt="Kumppanin logo">
        </div>
        <div class="partners">
            <img src="../../assets/partners/satamaito_logo.svg" alt="Kumppanin logo">
        </div>
        <div class="partners">
            <img src="../../assets/partners/Vectorama.png" alt="Kumppanin logo">
        </div>
        <div class="partners">
            <img src="../../assets/partners/Lumerca.png" alt="Kumppanin logo">           
        </div>
    </div>
</section>