<header>
    <h1 class="text-light text-center m-5 fs-1">Uutiset</h1>
</header>
<section>

    <!--TODO Display max of 6 news articles. If above then display more news and redirect customer to another page with all the news.-->
    <div class="flexcontainer">
        <div class="newscontainer">
            <div class="header">
                <img src="../../assets/articleimg/_K7A8023.jpg" alt="pääkuva">
            </div>
            <div class="headline">
                <h1>Tule mukaan</h1>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel, nisi deleniti sint corporis
                    ut?
                    Sunt enim veniam porro consequuntur, modi sed dolorum architecto illum dicta minus aut, fugit
                    adipisci?
                </p>
            </div>
            <div class="buttonContainer">
                <button mat-raised-button color="primary">Lue Lisää</button>
            </div>

        </div>
        <div class="newscontainer">
            <div class="header">
                <img src="../../assets/articleimg/_K7A8023.jpg" alt="pääkuva">
            </div>
            <div class="headline">
                <h1>Tule mukaan</h1>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel, nisi deleniti sint corporis
                    ut?
                    Sunt enim veniam porro consequuntur, modi sed dolorum architecto illum dicta minus aut, fugit
                    adipisci?
                </p>
            </div>
            <div class="buttonContainer">
                <button mat-raised-button color="primary">Lue Lisää</button>
            </div>
        </div>
        <div class="newscontainer">
            <div class="header">
                <img src="../../assets/articleimg/_K7A8023.jpg" alt="pääkuva">
            </div>
            <div class="headline">
                <h1>Tule mukaan</h1>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel, nisi deleniti sint corporis
                    ut?
                    Sunt enim veniam porro consequuntur, modi sed dolorum architecto illum dicta minus aut, fugit
                    adipisci?
                </p>
            </div>
            <div class="buttonContainer">
                <button mat-raised-button color="primary">Lue Lisää</button>
            </div>

        </div>
        <div class="newscontainer">
            <div class="header">
                <img src="../../assets/articleimg/_K7A8023.jpg" alt="pääkuva">
            </div>
            <div class="headline">
                <h1>Tule mukaan</h1>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel, nisi deleniti sint corporis
                    ut?
                    Sunt enim veniam porro consequuntur, modi sed dolorum architecto illum dicta minus aut, fugit
                    adipisci?
                </p>
            </div>
            <div class="buttonContainer">
                <button mat-raised-button color="primary">Lue Lisää</button>
            </div>

        </div>
        <div class="newscontainer">
            <div class="header">
                <img src="../../assets/articleimg/_K7A8023.jpg" alt="pääkuva">
            </div>
            <div class="headline">
                <h1>Tule mukaan</h1>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel, nisi deleniti sint corporis
                    ut?
                    Sunt enim veniam porro consequuntur, modi sed dolorum architecto illum dicta minus aut, fugit
                    adipisci?
                </p>
            </div>
            <div class="buttonContainer">
                <button mat-raised-button color="primary">Lue Lisää</button>
            </div>

        </div>
        <div class="newscontainer">
            <div class="header">
                <img src="../../assets/articleimg/_K7A8023.jpg" alt="pääkuva">
            </div>
            <div class="headline">
                <h1>Tule mukaan</h1>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel, nisi deleniti sint corporis
                    ut?
                    Sunt enim veniam porro consequuntur, modi sed dolorum architecto illum dicta minus aut, fugit
                    adipisci?
                </p>
            </div>
            <div class="buttonContainer">
                <button mat-raised-button color="primary">Lue Lisää</button>
            </div>

        </div>
    </div>
</section>