section{
    height: 100vh;
    width: 50%;
    margin: auto;
}
.flexcontainer{
    display: flex;
    gap: 2rem;
    justify-content: center; 
    flex-flow: wrap;
}
.newscontainer{
    display: flex;
    flex-flow: column;
    width: 400px;
    height: 600px;
    align-items: center;
    
    background: white;
    border-radius: 25px;
}
.header img{
    width: 400px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}
.header{
    filter: drop-shadow(0, 10px, 10px, black);
}
.headline{
    margin: 10px;
    text-align: center;
}
.content{
    margin: 1.5rem;
    width: fit-content;
}
.buttonContainer{
    margin-bottom: 1.2rem;
    margin-top: auto; 
}
