<mat-card class="w-25 bg-light-subtle m-auto mt-5 rounded-3 pb-3 shadow-lg">
    <mat-card-title class=" p-3 m-0 bg-dark text-light shadow rounded-top-2">Kirjaudu sisään</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="login()" class="w-100 m-auto">

            <mat-form-field class="w-100 mt-5 mb-4" color="accent" aria-label="Käyttäjätunnus">
                <mat-label>
                    <mat-icon>person</mat-icon>
                    Käyttäjätunnus
                </mat-label>
                <input matInput placeholder="Email" matNativeControl="email">
                <mat-hint>Käyttäjätunnuksesi on sähköpostiosoitteesi</mat-hint>
            </mat-form-field>
            <mat-form-field class="w-100 mb-5" color="accent" aria-label="Salasana">
                <mat-label>
                    <mat-icon>password</mat-icon>
                    Salasana
                </mat-label>
                <input matInput placeholder="Salasana" matNativeControl="password">
                <mat-hint>Jos unohdit salasanan otathan yhteyttä <a class="text-info-emphasis text-decoration-none" href="mailto:info@insomnia.fi">asiakaspalveluumme</a></mat-hint>
            </mat-form-field>
           


        </form>
    </mat-card-content>
    <mat-card-footer class="m-auto p-2">
        <button type="submit" mat-raised-button color="primary">Kirjaudu sisään</button>
    </mat-card-footer>
</mat-card>
<div class="mt-5 bg-light w-25 m-auto rounded-3 shadow-lg">
    <div class="p-2 text-center">
        <h3 class="text-black">Rekisteröidy</h3>
        <p>Jos et ole vielä kertaakaan kirjautunut palveluun, paina alla olevasta napista</p>
    </div>

    <div class="w-100 text-center">    
        <button mat-raised-button color="accent" class="mb-3"[routerLink]="['/register']">Rekisteröidy</button>
    </div>
 
</div>