
<mat-toolbar class="navigation">
    <mat-toolbar-row >

        <h1>{{title}}</h1>
        <span class="fullwidthSpacer"></span>
        <button mat-icon-button class="button" [routerLink]="" matTooltip="Home"><mat-icon class="icon">home</mat-icon></button> 
        <button mat-icon-button class="button" [routerLink]="['login']" matTooltip="Login"><mat-icon class="icon">account_circle</mat-icon></button> 
        <button mat-icon-button class="button" [routerLink]="['register']" matTooltip="Register"><mat-icon class="icon">app_registration</mat-icon></button> 
        
    </mat-toolbar-row>
</mat-toolbar>

